.reviews {
    margin-bottom: 30px;
  }
  
  .review_item {
    margin-bottom: 15px;
    color: orange;
    
  }
  
  .review_text {
    min-height: 50px;
    max-height: 200px;
    overflow-y: auto;
  }